<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Aprendiz</title>
</head>
<body>
    {% include 'menu.html'%}
    <h1>Agregar Aprendiz</h1>
    <form action="{{ url_for('apprentice.add') }}" method="post">
        <label for="nameApprentice">Nombre: </label>
        <input type="text" id="nameApprentice" name="nameApprentice" placeholder="Aprendiz"  required>

        <label for="documentApprentice">Documento: </label>
        <input type="text" id="documentApprentice" name="documentApprentice" placeholder="Aprendiz"  required>

        <button type="submit">Agregar </button>
    </form>
</body>
</html>