<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Instructor</title>
</head>
<body>
    {% include 'menu.html'%}
    <h1>Editar Instructor</h1>
    <form action="{{ url_for('intructor.edit', id=intructor.idInstructor) }}" method="post">
        <label for="nameInstructor">Nombre: </label>
        <input type="text" name="nameInstructor"  value="{{ intructor.nameInstructor}}" placeholder="Instructor"  required>

        <label for="documentInstructor">Documento: </label>
        <input type="text" name="documentInstructor"  value="{{ intructor.documentInstructor}}" placeholder="Instructor"  required>

        <button type="submit">Editar </button>
    </form>
</body>
</html>