<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Equipo</title>
</head>
<body>
    {% include 'menu.html'%}
    <h1>Editar Equipo</h1>
    <form action="{{ url_for('equipment.edit', id=equipment.idEquipment) }}" method="post">
        <label for="brandEquipment">Marca: </label>
        <input type="text" name="brandEquipment"  value="{{ equipment.brandEquipment}}" placeholder="Equipo"  required>

        <label for="codeEquipment">Codigo: </label>
        <input type="text" name="codeEquipment"  value="{{ equipment.codeEquipment}}" placeholder="Equipo"  required>

        <label for="accassoriesEquipment">Accesorios: </label>
        <input type="text" name="accassoriesEquipment"  value="{{ equipment.accassoriesEquipment}}" placeholder="Equipo"  required>

        <label for="apprenticeId">Aprendiz:</label>
        <select id="apprenticeId" name="apprenticeId">
            {% for apprentice in apprentices %}
                <option value="{{apprentice.idApprentice }}" {% if idApprentice == equipment.apprenticeId %}selected{% endif %}>
            {{ apprentice.nameApprentice }}
                </option>
            {% endfor %}
</select>
<button type="submit">Editar</button>
    </form>
</body>
</html>