<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Celador</title>
</head>
<body>
    {% include 'menu.html'%}
    <h1>Agregar Celador</h1>
    <form action="{{ url_for('wachiman.add') }}" method="post">
        <label for="nameWachiman">Nombre: </label>
        <input type="text" id="nameWachiman" name="nameWachiman" placeholder="Celador"  required>

        <label for="documentWachiman">Documento: </label>
        <input type="text" id="documentWachiman" name="documentWachiman" placeholder="Celador"  required>

        
        <button type="submit">Agregar </button>
    </form>
</body>
</html>